.navbar-ffm {
  justify-content: space-between;
  background: #F4F4F4;
  min-height: 80px;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand {
    width: 50px;
  }

  .avatar {
    width: 40px;
    border-radius: 50%;
  }

  @media (min-width: 992px) {
    .navbar-brand {
      margin-left: 100px;
    }

    .nav-item {
      margin-right: 100px;
    }
  }
}
