.navbar-ffm {
  justify-content: space-between;
  background: $nuevo-tokyo-grey;
  min-height: 80px;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand {
    width: 50px;
  }

  .avatar {
    width: 40px;
    border-radius: 50%;
  }

  @media (min-width: 992px) { // Adjust this value according to your breakpoint for desktop view
    .navbar-brand {
      margin-left: 100px;
    }

    .avatar {
      margin-right: 100px; // Add margin for spacing between logo and user icon
    }
  }
}
